h1 {
    margin-top: 50px;
}
.form-group {
    position: relative;
}
.show-value {
    position: absolute;
    bottom: 14px;
    right: 13px;
    font-size: 13px;
    opacity: .6;
    cursor: pointer;
}